.home {
  display: flex;
  &Container {
    flex: 6;
  }

  &Widgets {
    display: flex;
    padding: 20px;
    gap: 20px;
  }

  &Charts {
    display: flex;
    gap: 20px;
    padding: 5px 20px;
  }

  &ListContainer {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 20px;
    .listTitle {
      font-weight: 500;
      color: #57606f;
      margin-bottom: 15px;
    }
  }
}
