.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: #fff;
  &Top {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 11px;
    border-bottom: 0.5px solid rgb(230, 227, 227);

    a {
      text-decoration: none;
    }

    .logo {
      font-weight: 500;
      font-size: 1rem;
      color: #ff6b81;
    }
  }

  &Center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: #f1f2f6;
      }
    }

    span {
      text-transform: capitalize;
      color: #57606f;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &Title {
    font-size: 13px;
    font-weight: 500;
    color: #747d8c;
  }

  &Icon {
    font-size: 18px;
    color: #ff6b81;
    margin-right: 10px;
  }

  &Bottom {
    display: flex;
    align-items: center;
    margin: 10px;
    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #57606f;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: #f1f2f6;
      }
      &:nth-child(2) {
        background-color: #2f3542;
      }
    }
  }
}
